* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.login-modal {
    background-color: rgb(37, 36, 39);
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 3px 5px black;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    width: 20vw;
    padding-bottom: 25px;
    z-index: 100;
}

.x-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 7.5%;
    right: 5%;
    color: white;
    cursor: pointer;
}

.login-modal h3 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 35px;
}

.login-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-btns p{
    font-size: 1.1rem;
    font-weight: 300;
    color: rgba(234, 228, 228, 0.91);
}

.login-btns button{
    padding: 7.5px ;
    border-radius: 8px;
    border: none;
    font-size: 1.15rem;
    width: 12.5vw;
    height: 6vh;
    color: white;
    transition: all .3s ease;
}

.login-btns button:hover{
    cursor: pointer;
    transform: translateY(3%);
}

.google-btn {
    background-color: #d62d20;
}

.facebook-btn {
    background-color: #3b5998;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #1515153f;
    z-index: 1;
    cursor: pointer;
}

nav {
    height: 100vh;
    width: 125px;
    background-color: rgb(24, 23, 23);
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.sidebar-btns.not-center a:not(.logo){
    font-size: 1.25rem;
    padding: 5px;
    transition: all .3s ease;
}

.sidebar-btns.not-center a:hover:not(.logo){
    background-color: rgba(60, 59, 59, 0.584);
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.866);
}

.logo{
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: white;
    font-size: 1.75rem;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.sidebar-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.sidebar-btns.not-center {
    align-items: flex-start;
}

.theme-icon {
    border: none;
    background-color: transparent;
    color: rgb(236, 227, 227);
    transition: all .3s ease;
}

.theme-icon:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.sidebar-btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    text-decoration: none;
}

.user-img {
    border-radius: 50%;
    border: .5px solid rgba(243, 239, 239, 0.447);
    width: 80px;
}

.log-btn {
    padding: 5px;
    border: none;
    border-radius: 8px;
    background-color: rgb(250, 124, 231);
    transition: all .3s ease;
}

.log-btn:hover {
    background-color: rgb(248, 100, 226);
    transform: translateY(4%);
    cursor: pointer;
}

.toggle-nav {
    display: none;
}

@media (max-width:900px) {

    .login-modal {
    width: 50vw;
}

.login-btns button{
    font-size: 1.5rem;
    width: 30vw;
    height: 12vh;
}

    .login-btns button:hover{
        transform: translateY(0%);
    }
}

@media (max-width:570px) {

.login-modal {
    width: 70vw;
}

.login-btns button{
    width: 40vw;
}
}

@media (max-width:700px) {
    nav {
        z-index: 1000;
        transform: translateX(-100%);
        transition: all .3s ease;
        width: 180px;
    }

    nav.active {
        transform: translateX(0%);
    }

    .toggle-nav {
        display: block;
        position: absolute;
        top: 0;
        right: -24%;
        background-color: rgb(24, 23, 23);
        border: none;
        color: white;
        padding: 10px;
    }
    .sidebar-btns.not-center a:not(.logo){
        font-size: 1.7rem;
    }
}