* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main.dark {
    --page-bg: rgb(39, 36, 36);
    --main-bg: rgb(56, 55, 61);
    --second-bg: rgb(45, 44, 48);
    --main-font: white;
    --second-font: rgba(252, 252, 252, 0.5);
    --placeholder-color: rgba(252, 252, 252, 0.245);
    --popup-bg:rgb(242, 248, 245);
    --popup-text:black;
    --shadow: 0 3px 12px rgb(0, 0, 0);

    background-color: rgb(39, 36, 36);
    height: auto;
    min-height: 100vh;
    padding-bottom: 25px;
    transition: all .5s ease;
}

main.light {
    --main-bg: #ffffff;
    --second-bg: #fffffff1;
    --main-font: rgb(27, 26, 26);
    --second-font: rgba(0, 0, 0, 0.633);
    --placeholder-color: rgba(0, 0, 0, 0.364);
    --popup-bg:rgb(45, 44, 48);
    --popup-text:rgb(255, 255, 255);
    --border: 1px solid rgba(0, 0, 0, 0.351);
    --shadow: 0 1px 5px rgb(0, 0, 0);

    background-color: #f6f6f6;
    height: auto;
    min-height: 100vh;
    padding-bottom: 25px;
    transition: all .5s ease;
}

.create-post-container {
    background-color: var(--main-bg);
    padding: 15px;
    width: 30vw;
    margin: 20px;
    border-radius: 8px;
    position: relative;
    padding-bottom: 50px;
    box-shadow: 0 5px 14px black;
    min-width: 400px;
}


.create-post-container h3 {
    color: var(--main-font);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

form textarea {
    font-size: 1rem;
    resize: none;
    width: 28vw;
    height: 12vh;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--main-font);
    min-width: 380px;
}

form textarea:focus {
    outline: none;
}

form textarea::placeholder {
    color: var(--placeholder-color);
}

form p {
    color: var(--second-font);
}

form button {
    font-size: 1.15rem;
    font-weight: 600;
    width: 7vw;
    min-width: 80px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    background-color: rgb(250, 124, 231);
    margin: 2.5px;
    transition: all .3s ease;
    position: absolute;
    right: 10%;
}

form button:hover {
    background-color: rgb(248, 100, 226);
    transform: translateY(4%);
    cursor: pointer;
}

form button:disabled {
    filter: brightness(0.9);
    cursor: not-allowed;
}

.post-item  {
    background-color: var(--second-bg);
    color: var(--main-font);
    padding: 15px;
    width: 30vw;
    margin: 5px;
    border-radius: 8px;
    position: relative;
    padding-bottom: 35px;
    box-shadow: var(--shadow);
    border:  var(--border);
    min-width: 400px;
    text-decoration: none;
    transition: all .3s ease;
}

.img-post {
    width: 28vw;
    min-width: 370px;
    height: auto;
    max-height: 700px;
    margin-bottom: 25px;
    border-radius: 8px;
}

.post-item-buttons {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 5%;
    bottom: 5%;
}

.liked {
    color: #fa4b3e;
}

.post-item-buttons button{
    background-color: transparent;
    border: none;
    color: var(--main-font);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.likes-num-post {
    font-size: 1.25rem;
}

.post-item:hover {
    background-color: var(--main-bg);
}

.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.profile img{
    border-radius: 50%;
}

.profile h6{
    color: var(--main-font);
    font-size: 1.25rem;
    font-weight: 400;
}

.error-login{
    font-size: 1.5rem;
    color: var(--main-font);
}

.warning-icon {
    color: rgb(255, 177, 42);
}


.post-item a {
    color: var(--main-font);
    text-decoration: none;
}

.post-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.post-head h6{
    font-size: 1rem;
    font-weight: 400;
}

.post-head img{
    border-radius: 50%;
    width: 50px;
}

.post-item p {
    width: 28vw;
    min-width: 380px;
    word-wrap: break-word;
    white-space: initial;
    text-align: justify;
    font-size: 1.1rem;
    margin-bottom: 5px;
    margin-bottom: 10px;
}

.post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.post-date {
    color: var(--second-font);
    position: absolute;
    right: 2.5%;
    display: flex;
    justify-content: flex-end;
}

.post-user-top {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.post-user-top img{
    width: 75px;
    border-radius: 50%;
}

.post-user-top h6{
    font-size: 1.25rem;
    font-weight: 400;
}

.edit-btns {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 5%;
}

.edit-btns button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--main-font);
    cursor: pointer;
}

.new-comment-section {
    background-color: var(--main-bg);
    width: 30vw;
    padding: 5px;
    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 0 1px 5px black;
    display: flex;
    gap: 5px;
    align-items: center;
    min-width: 400px;
}

.new-comment-section img{
    border-radius: 50%;
    width: 60px;
}

.new-comment-section textarea{
    background-color: transparent;
    color: var(--main-font);
    resize: none;
    width: 20vw;
    height: 6vh;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 1rem;
    min-width: 250px;
}

.new-comment-section textarea:focus{
    outline: none;
}

.new-comment-section textarea::placeholder{
    color: var(--placeholder-color);
}

.new-comment-section button{
    font-weight: 600;
    padding: 5px;
    border-radius: 8px;
    border: none;
    width: 5vw;
    height: 5vh;
    background-color: rgb(250, 124, 231);
    transition: all .3s ease;
}

.new-comment-section button:hover{
    background-color: rgb(248, 100, 226);
    transform: translateY(4%);
    cursor: pointer;
}

.new-comment-section button:disabled{
    filter: brightness(.9);
    transform: translateY(0%);
    cursor: not-allowed;
}

.comments-count {
    color: var(--second-font);
    margin-left: 10px;
}

.comments-section {
    width: 30vw;
    background-color: var(--main-bg);
    margin-top: 15px;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 3px 7px black;
    min-width: 400px;
}

.comment {
    display: flex;
    gap: 5px;
    background-color: var(--second-bg);
    margin: 7.5px;
    border-radius: 8px;
    padding-bottom: 10px;
    position: relative;

}

.comment h6 {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    color: var(--main-font);
}

.comment p {
    color: var(--main-font);
    font-size: 1rem;
    text-align: justify;
    word-wrap: break-word;
    white-space: initial;
    width: 22.5vw;
    min-width: 280px;
}

.comment img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5px;
}

.comment button {
    background-color: transparent;
    border: none;
    color: rgb(253, 62, 62);
    position: absolute;
    right: 2.5%;
    top: 7.5%;
    cursor: pointer;
    font-size: 1.15rem;
}

.update-post-container {
    background-color: var(--main-bg);
    width: 35vw;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 12px black;
    padding-bottom: 50px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-60%, -30%);
    z-index: 100;
}

.update-post-container h3{
    font-size: 1.5rem;
    color: var(--main-font);
    font-weight: 400;
    margin: 5px;
}

.update-post-container form textarea{
    width: 33.5vw;
}

.update-post-container .x-icon{
    background-color: transparent;
    border: none;
    color: var(--main-font);
    font-size: 1rem;
    position: absolute;
    right: 2.5%;
    cursor: pointer;
}

.edited {
    color: var(--second-font);
    font-weight: 400;
    font-size: 1rem;
}

.copy-msg {
    padding: 7.5px 25px;
    border-radius: 8px;
    background-color: var(--popup-bg);
    color: rgb(85, 202, 85);
    font-size: 1.5rem;
    display: flex;
    gap: 5px;
    position: fixed;
    bottom: 2.5%;
    right: 5%;
    z-index: 1000;
}

.copy-msg.error {
    color: rgb(255, 51, 51);
}

.copy-msg p {
    color: var(--popup-text);
    font-size: 1.25rem;
    font-weight: 600;
}

.back-home {
    position: absolute;
    top: 5%;
    left: 17.5%;
    font-size: 1.25rem;
    color: var(--main-font);
}

.back-home-post {
    position: absolute;
    font-size: 1.25rem;
    color: var(--main-font);
    left: -10%;
}

.my-posts {
    font-weight: 600;
    padding: 10px;
    color: var(--main-font);
}

.newest-title {
    color: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.img-input {
    position: absolute;
    bottom: 20%;
    left: 20%;
    color: var(--second-font);
    cursor: pointer;
    font-size: 1.5rem;
}

.fav-msg {
    color: var(--second-font);
    font-size: 1.15rem;
}

.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.error-page h3 {
    color: var(--main-font);
    font-size: 2.5rem;
    font-weight: 400;
}

.error-page span {
    font-weight: 600;
    font-size: 3rem;
}

@media (max-width:475px) {
    .error-page h3 {
        font-size: 1.5rem;
    }

    .error-page span {
        font-size: 2rem;
    }
    .create-post-container {
        width: 75vw;
        min-width: 0;
    }

    .create-post-container h3 {
        font-size: 1rem;
    }

    form textarea {
        font-size: .9rem;
        width: 70vw;
        height: 20vh;
        min-width: 0;
    }

    form button:hover {
        transform: translateY(0%);
        background-color: rgb(250, 124, 231);
    }
    .post-item  {
        width: 75vw;
        min-width: 0;
    }

    .post-head h6{
        font-size: .9rem;
    }

    .post-item p {
        width: 68vw;
        min-width: 0;
        font-size: 1rem;
    }

    .img-post {
        width: 68vw;
        min-width: 0;
    }

    .post-user-top h6{
        font-size: 1rem;
    }

    .edit-btns {
        right: 50%;
        top: 105%;
        transform: translate(50%, 0);
        background-color: var(--second-bg);
        border-radius: 8px;
        box-shadow: var(--shadow);
        padding: 10px;
    }

    .new-comment-section {
        width: 75vw;
        margin-top: 70px;
        min-width: 0;
    }

    .new-comment-section img{
        width: 45px;
        height: 45px;
    }
    
    .new-comment-section textarea{
        width: 50vw;
        font-size: .85rem;
        min-width: 0;
    }

    .new-comment-section textarea::placeholder{
        font-size: .85rem;
    }

    .new-comment-section button{
        width: 10vw;
        margin-right: 2.5px;
    }

    .new-comment-section button:hover{
        background-color: rgb(250, 124, 231);
        transform: translateY(0%);
    }

    .comments-section {
        width: 75vw;
        min-width: 0;
    }

    .comment h6 {
        font-size: .8rem;
    }

    .comment p {
        font-size: .8rem;
        width: 47.5vw;
        min-width: 0;
    }

    .comment img{
        height: 50px;
        width: 50px;
    }

    .update-post-container {
        width: 70vw;
    }

    .update-post-container form textarea{
        width: 65vw;
        height: 30vh;
    }

    .back-home {
        left: 5%;
        top: 10%;
    }
    .post-date {
        right: 5%;
        top: 2.5%;
    }

    .img-input {
        bottom: 10%;
        left: 35%;
    }
}

.date-post {
    color: var(--second-font);
}

.author {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    margin-top: 40px;
    color: var(--second-font);
    font-size: .9rem;
}

.author a {
    color: var(--second-font);
}